@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.comments {
  &__title {
    @include subheader;
  }

  @include tablet {
    border-bottom: $divide-line;
  }

  @include mobile {
    border-bottom: $divide-line;
  }
}

.comment {
  width: 100%;
  display: flex;
  gap: $padding-md;

  border-top: $divide-line;
  padding: $padding-md $padding-md $padding-md 0;

  @include tablet {
    padding: $padding-md 0;
  }

  @include mobile {
    padding: $padding-sm 0;
    gap: $padding-sm;
  }

  &__photo {
    width: $button-height;
    height: $button-height;
    border-radius: 50%;
    background-color: $mercury;
  }

  &__rest {
    width: 100%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    @include subheader;
  }

  &__date {
    @include regular;
    color: $silver;
  }

  &__text {
    @include regular;
    margin-bottom: 0;
  }
}
