@import "styles/partials/variables";
@import "styles/partials/mixins";

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.section {
  @include side-margins;
  display: flex;
  &__header {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
